<?xml version="1.0"?>
<configuration>

  <packageSources>
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
    <add key="Grosvenor Package Sources" value="http://192.168.0.16:82/nuget" />
  </packageSources>

  <packageRestore>
    <add key="enabled" value="true" />
    <add key="automatic" value="true" />
  </packageRestore>

</configuration>
