@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>
<h3>Logged in user's email is @Model.UserEmail</h3>
<h3>@Model.WebServicesMessage</h3>

<p>Use this area to provide additional information.</p>
